<header class="sticky top-0 z-20 w-full">
  <p-menubar
    [model]="menuItems()"
    styleClass="custom-menubar"
    appSlidePill=".p-menubar-item-link"
    activeClass="p-menubar-item-link-active"
    pillClass="nav-pill"
    containerSelector=".p-menubar-root-list"
  >
    <ng-template #start>
      <a routerLink="/" class="mr-6 flex items-center gap-3 text-white">
        @if (navAvatarUrl(); as avatar) {
          <img
            [src]="avatar | serverUrl"
            alt="Foto de perfil"
            width="36"
            height="36"
            class="h-9 w-9 rounded-full object-cover"
          />
        } @else {
          <img
            ngSrc="assets/img/sinappta-logo-sqared.png"
            alt="Logo Synapta"
            width="36"
            height="36"
            class="h-9 w-9"
          />
        }
        <img
          ngSrc="assets/img/sinappta-title-white.png"
          alt="Synapta"
          width="152"
          height="36"
          class="h-5.5 w-auto"
        />
      </a>
    </ng-template>
    <ng-template #end>
      <div class="flex items-center gap-3">
        <app-generation-bell />
        <app-theme-panel />
      </div>
    </ng-template>
  </p-menubar>
</header>
